// @import "variables";
$main-color: rgb(92, 62, 96);
$main-text-color: rgb(72, 72, 72);
$light-gray-color: rgb(233, 233, 233);
$dark-gray: rgb(40, 40, 40);

.navbar {
  padding: 20px;

  .bwm-search {
    height: 50px;
    width: 300px;
  }

  .navbar-brand {
    margin-right: 30px;
    font-size: 30px;
    letter-spacing: 1px;
    color: $main-color;
    font-weight: 500;

    img {
      width: 60px;
      margin: 0 10px;

    }

  }

  .ml-auto:last-child {
    border-bottom: 2px solid rgb(92, 62, 96);

    @media only screen and (max-width: 991px) {
      margin-top: 10px;
      border-bottom: none;
      border-top: 2px solid rgb(92, 62, 96);
    }
  }

  .nav-item {
    font-size: 14px;
  }

  .bwm-search {
    
    @media only screen and (max-width: 600px) {
      width: 190px;
      margin-right: 10px;
    }
  }

  .btn-bwm-search {
    border-color: #F44336;
    color: $main-color;

    &:hover, &:focus, &:active {
      background-color: transparent;
      border-color: #F44336 !important;
      color: $main-color !important;
      box-shadow: none;
    }
  }
}
