<nav class="navbar navbar-expand-lg navbar-dark bg-dark">  
  <a class="navbar-brand" routerLink="/rentals"><img src='../../../assets/homeAnyTimeLogo.png' alt='Home Any Time'> Home Any Time</a>

  <nav class="navbar navbar-light bg-dark">
    <form class="form-inline">
      <input class="form-control mr-sm-2 bwm-search" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  
  <button class="navbar-toggler" (click)='navbarToggle()'>
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbar-default">
  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='/rentals' linkActive='active'>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/rentals' linkActive='active'>Register</a>
      </li>
    </ul>
  </div>
</nav>
